@import url('https://fonts.googleapis.com/css?family=Concert+One');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




h1 {
  transform: skew(-2deg) rotate(-2deg);
  grid-area: text;
  font-family: 'Concert One', sans-serif;
  font-size: 10vmin;
  margin: 0;
  color: #1d9099;
  /* text-shadow: 1vmin 1vmin 0 #E79C10, -1vmin -1vmin 0 #D53A33; */
}